@font-face
{
    font-family:'shrikhand'; src: url(/public/fonts/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
@font-face
{    
    font-family:'roboto_regular'; src: url(/public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face
{    
    font-family:'roboto_bold'; src: url(/public/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-4:#dddddd;
$couleur-5:rgb(110, 109, 109);

@mixin format_image
{
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 200px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    margin:0px
}

header
{
    a
    {
        font-family: 'shrikhand';
        font-size: 4em;
        margin-top: 15px;
        margin-bottom: 10px;
        text-decoration: none;
        color: black;
       
    }
    .degrade_lineaire
    {
        
        height: 5px;
        background: linear-gradient(rgb(206, 205, 205), $couleur-4);
    }
    div
    {
        font-family:'roboto_regular',serif;
        display: flex;
      
        justify-content: center;
        background-color:$couleur-4;
        .localisation
        {
            background-color: $couleur-4;
            border: none;
            
            margin-left: 40px;
            font-size: 1.5em;
            padding: auto;
        }
        i
        {
            font-size: 1.5em;
        }
    }
    
    form
    {
        background-color: lighten($couleur-4, 5);
        display: flex;
        flex-direction: column;
        text-align: center;
        
        h1
        {
            font-family: roboto_bold, serif;
            font-size: 2em;
        }
        h2
        {
            font-family: roboto_regular, serif;
            font-size: 1.5em;
                     
        }
        .bouton_explorer
        {
            margin-top: 10px;
            margin-bottom: 60px;
            width: 250px;
            height: 60px;
            border-radius: 30px;
            border: none;
            margin-left: auto;
            margin-right: auto;
            background:linear-gradient(170deg,$couleur-secondaire,$couleur-primaire);
            color: white;
            font-size: 1.2em;
            font-family: roboto_regular, serif;
            box-shadow: 6px 6px 10px darken($couleur-4,15);
        }
    }
    
}

section
{
    h1
    {
        font-family: 'roboto_bold' ;
        padding-left: 40px;
        margin-top: 45px;
        margin-bottom: 5px;
        
    }
    #etapes_fonctionnement
    {
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
      
        
            mark
            {
                border: 1px solid $couleur-primaire;
                background-color: $couleur-primaire;
                color: white;
                font-family: 'roboto_regular';
                padding: 4px 10px 4px 10px;
                border-radius: 30px;
                position: relative;
                right: 15px;
                vertical-align: middle;
            }
            i
            {
                
                padding-left: 15px;
                padding-right: 25px;
                
                font-size: 1.6em;
               
                vertical-align: middle;
                height: 30px;
                color: $couleur-5;
            }
            .etape
            {
                height: 60px;
                
                vertical-align: middle;
                padding-top: 30px;
                padding-right: 105px;
               
                font-family:  'roboto_regular';
                font-size: 1.2em;
                background-color: lighten($couleur-4,5);
                border-radius: 20px;
                box-shadow: 6px 6px 10px darken($couleur-4,8);
                &:hover
                {
                    background-color: lighten($couleur-primaire,30);
                    i
                    {
                        color: $couleur-primaire; 
                    }
                }

            }
    }
}

#les_restaurants
    {
        display: flex;
        justify-content: space-around;
        
    }
article
{
    background-color: $couleur-4;
    h1
    {
        font-family: 'roboto_bold' ;
        padding-left: 40px;
        margin-top: 45px;
        margin-bottom: 25px;
        font-size: 1.5em;
        padding-top: 50px;
    }
}
.image_la_palette_du_gout
{
    background-image: url(/public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    width: 200px;
    @include format_image;
    figcaption
    {
        font-family: 'roboto_bold';
        font-size: 1.1em;
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 25%;
        position: relative;
        top: 20px;
        left: 220px;
        background-color: $couleur-tertiaire;
        color: darken($couleur-tertiaire,40);   
        //display: none;
    }
        
        
}

.image_la_note_enchantee
{
    background-image: url(/public/img/stil-u2Lp8tXIcjw-unsplash.jpg);
    @include format_image;
    figcaption
    {
        font-family: 'roboto_bold';
        font-size: 1.1em;
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 25%;
        position: relative;
        top: 20px;
        left: 220px;
        background-color: $couleur-tertiaire;
        color: darken($couleur-tertiaire,40);
        //display: none;
    }
}

.image_a_la_francaise
{
    background-image: url(/public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    @include format_image;
    figcaption
    {
        font-family: 'roboto_bold';
        font-size: 1.1em;
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 25%;
        position: relative;
        top: 20px;
        left: 220px;
        background-color: $couleur-tertiaire;
        color: darken($couleur-tertiaire,40);
        display: none;
    }
}

.image_le_delice_des_sens
{
    background-image: url(/public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    @include format_image;
    figcaption
    {
        font-family: 'roboto_bold';
        font-size: 1.1em;
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: 25%;
        position: relative;
        top: 20px;
        left: 220px;
        background-color: $couleur-tertiaire;
        color: darken($couleur-tertiaire,40);
        display: none;
    }
}


#les_restaurants
{
    .coeur_hover
    {
        display: none;
        font-size: 1.3em;
    } 
    height: 350px;

    #etiquette_restaurant
    {    
        box-shadow: 6px 6px 10px darken($couleur-4,10);
        border-radius: 20px;
        height: 272px;
        a
        {
            text-decoration: none;
        }
       
        .zone_legende
        {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding-left: 15px;
            padding-right: 15px;
          
           
            
            .nom_restaurant
            {
                
                font-family: 'roboto_regular';
                height: 40px;
               
                
                strong
                {
                    font-family: 'roboto_bold';
                }
            }
            .coeur_on
            {
                font-size: 1.3em;
                margin-top: 20px;
                margin-right: 15px;
                height: 0px;
                color:black;
                
                &:hover
                {
                   
                    
                   
                    
                    
                    background:url(/public/img/heart-solid.svg),no-repeat;
                    color: red;
                    height: 20px;
                    font-size: 1.3em;
                    
                }
            }
        }
    }
}

footer
{
   
    padding-left: 20px;
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'roboto_regular';
        #proposer_restaurant
        {
            i
            {
                font-size: 0.8em;
                padding-right: 15px;
            }
            margin-bottom: 10px;
        }
        #devenir_partenaire
        {
            i
            {
                font-size: 0.8em;
                padding-right: 10px;
            }
            margin-bottom: 10px;
        }
        .options_footer
        {
            text-decoration: none;
            color: white;
        }
    
    #logo_texte_footer
    {
        font-family: 'shrikhand';
        font-size: 1.2em;
        color: white;
        margin-top: 0px;
    }
    #contact
    {
        margin-top: 10px;
    }
}

// PAGE 2 La palette du Gout

