@font-face {
  font-family: "shrikhand";
  src: url(/public/fonts/Shrikhand/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto_regular";
  src: url(/public/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "roboto_bold";
  src: url(/public/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
header a {
  font-family: "shrikhand";
  font-size: 4em;
  margin-top: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: black;
}
header .degrade_lineaire {
  height: 5px;
  background: linear-gradient(#cecdcd, #dddddd);
}
header div {
  font-family: "roboto_regular", serif;
  display: flex;
  justify-content: center;
  background-color: #dddddd;
}
header div .localisation {
  background-color: #dddddd;
  border: none;
  margin-left: 40px;
  font-size: 1.5em;
  padding: auto;
}
header div i {
  font-size: 1.5em;
}
header form {
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  text-align: center;
}
header form h1 {
  font-family: roboto_bold, serif;
  font-size: 2em;
}
header form h2 {
  font-family: roboto_regular, serif;
  font-size: 1.5em;
}
header form .bouton_explorer {
  margin-top: 10px;
  margin-bottom: 60px;
  width: 250px;
  height: 60px;
  border-radius: 30px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-size: 1.2em;
  font-family: roboto_regular, serif;
  box-shadow: 6px 6px 10px #b7b7b7;
}

section h1 {
  font-family: "roboto_bold";
  padding-left: 40px;
  margin-top: 45px;
  margin-bottom: 5px;
}
section #etapes_fonctionnement {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;
}
section #etapes_fonctionnement mark {
  border: 1px solid #9356DC;
  background-color: #9356DC;
  color: white;
  font-family: "roboto_regular";
  padding: 4px 10px 4px 10px;
  border-radius: 30px;
  position: relative;
  right: 15px;
  vertical-align: middle;
}
section #etapes_fonctionnement i {
  padding-left: 15px;
  padding-right: 25px;
  font-size: 1.6em;
  vertical-align: middle;
  height: 30px;
  color: #6e6d6d;
}
section #etapes_fonctionnement .etape {
  height: 60px;
  vertical-align: middle;
  padding-top: 30px;
  padding-right: 105px;
  font-family: "roboto_regular";
  font-size: 1.2em;
  background-color: #eaeaea;
  border-radius: 20px;
  box-shadow: 6px 6px 10px #c9c9c9;
}
section #etapes_fonctionnement .etape:hover {
  background-color: #e4d5f6;
}
section #etapes_fonctionnement .etape:hover i {
  color: #9356DC;
}

#les_restaurants {
  display: flex;
  justify-content: space-around;
}

article {
  background-color: #dddddd;
}
article h1 {
  font-family: "roboto_bold";
  padding-left: 40px;
  margin-top: 45px;
  margin-bottom: 25px;
  font-size: 1.5em;
  padding-top: 50px;
}

.image_la_palette_du_gout {
  background-image: url(/public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.image_la_palette_du_gout .new {
  margin-top: 0px;
}

.image_la_note_enchantee {
  background-image: url(/public/img/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image_a_la_francaise {
  background-image: url(/public/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image_le_delice_des_sens {
  background-image: url(/public/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#les_restaurants {
  height: 350px;
}
#les_restaurants .coeur_hover {
  display: none;
}
#les_restaurants #etiquette_restaurant {
  box-shadow: 6px 6px 10px #c4c4c4;
  border-radius: 20px;
  height: 272px;
}
#les_restaurants #etiquette_restaurant .zone_legende {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
#les_restaurants #etiquette_restaurant .zone_legende .nom_restaurant {
  font-family: "roboto_regular";
  height: 40px;
}
#les_restaurants #etiquette_restaurant .zone_legende .nom_restaurant strong {
  font-family: "roboto_bold";
}
#les_restaurants #etiquette_restaurant .zone_legende .coeur_on {
  font-size: 1.3em;
  margin-top: 20px;
  margin-right: 15px;
  height: 0px;
  color: black;
}
#les_restaurants #etiquette_restaurant .zone_legende .coeur_on:hover {
  display: none;
}
#les_restaurants #etiquette_restaurant .zone_legende .coeur_on:hover .coeur_hover {
  display: block;
}

footer {
  padding-left: 20px;
  background-color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: "roboto_regular";
}
footer #proposer_restaurant {
  margin-bottom: 10px;
}
footer #proposer_restaurant i {
  font-size: 0.8em;
  padding-right: 15px;
}
footer #devenir_partenaire {
  margin-bottom: 10px;
}
footer #devenir_partenaire i {
  font-size: 0.8em;
  padding-right: 10px;
}
footer .options_footer {
  text-decoration: none;
  color: white;
}
footer #logo_texte_footer {
  font-family: "shrikhand";
  font-size: 1.2em;
  color: white;
  margin-top: 0px;
}
footer #contact {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
