@font-face
{
    font-family:'shrikhand'; src: url(/public/fonts/Shrikhand/Shrikhand-Regular.ttf) format('truetype');
}
@font-face
{    
    font-family:'roboto_regular'; src: url(/public/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face
{    
    font-family:'roboto_bold'; src: url(/public/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-4:#dddddd;
$couleur-5:rgb(110, 109, 109);

@mixin hover_bouton 
{
    background: linear-gradient(170deg,(lighten($couleur-secondaire,5)),(lighten($couleur-primaire,5)));
    box-shadow: 6px 6px 10px darken($couleur-4,25);
}

@mixin coeur_hover 
{
        font-weight: bold;            
        background: linear-gradient(180deg, (darken($couleur-primaire,30)), (lighten($couleur-secondaire,5)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@keyframes coeur
{
    0%{height: 0px;}
    100%{height: 39px;}
}

@mixin encadre_plat 
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    width: 550px;
    height: 100px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px darken($couleur-4,10);
    overflow: hidden;
}
@keyframes un_plat
{ 
    0%
    {
        opacity: 0;
        position: relative;
        bottom: -40px;
    }
    25%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        position: relative;
        bottom: 0px;
    }
}
@keyframes animation_prix
{
    0%{}
    100%{transform: translate(-90px);}
}
@keyframes validation
{
    0%{}
    100%{transform: translate(-90px);}
}

@keyframes rotation_validation
{
    0%{}
    100%{transform:rotate(360deg)}
}

@keyframes trois_points
{
    0%{}
    100%{width: 70%;}
}

body
{
    margin-left: 20px;
}

header
{
    display: flex;
    justify-content: flex-start;
        .fleche
        {
            font-size: 2.5em;
            margin-top: 40px;
            margin-left: 20px;
            vertical-align: middle;
            color: black;
        }
        p
        {
            font-size: 5em;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 40px;
            font-family:'shrikhand';
        }
}
section
{   
    #entete_restaurant
    {
    background-size: cover;
    background-position: center;        
    background-image: url(/public/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

        h1
        {
            background-color: $couleur-4;
            margin-bottom: 0px;
            width: 100%;
            height: 55px;
            padding-top: 20px;
            padding-left: 35px;
            margin-left: 25px;
            font-family: 'shrikhand';
            font-size: 2em;
            
        }

        i
        {
            

            font-size: 2.5em;
            height: 39px;
            margin-right: 80px;
            
            padding-top: 39px;
            
                &:active
                {             
                    @include coeur_hover();
                    animation: coeur 500ms ease-in-out;
                }
        }
    }
    article
    {
        background-color: $couleur-4;
        margin-top: -80px;
        padding-top: 100px;
        padding-left: 60px;
        font-family: 'roboto_regular';
        display: flex;
        justify-content: space-between;
        padding-right: 60px;
        padding-bottom: 80px;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;

        .un_plat
        {
            height: 100%;
        }

        .nom_et_recette
        {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

       .description_du_plat
       {
           display: flex;
           justify-content: space-between;
           width: 500px;
           height: 100px;
       }

        .petit_trait
        {
            width: 60px;
            height: 5px;
            background-color: $couleur-tertiaire;
            margin-bottom: 30px;
            margin-top: -10px;
        }

        .nom_de_la_recette
        {
            font-family: 'roboto_bold';
            font-size: 1.7em;
            margin-top: 10px;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .la_recette
        {
            font-size: 1.3em;
            margin-top: 15px;
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .le_prix
        {
            font-family: 'roboto_bold';
            font-size: 1.4em;
            height: 100%;
            padding-top: 53px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .choisir_le_plat
            {
            background-color: $couleur-tertiaire;
            position: relative;
            left: 50px;
            height: 100px;

                .valide
                {
                    display: flex;
                    align-items: center;
                    transform:rotate(90deg);
                    height: 22px;
                    border: 1px solid $couleur-tertiaire;
                    font-size: 1.2em;
                    margin-bottom: auto;
                    margin-top: 30px;
                    margin-right: 35px;
                    margin-left: 25px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border-radius: 40px;
                    background-color: white;
                    color: $couleur-tertiaire;
                }             
            }

            .pastille_1
            {
                @include encadre_plat();
                animation: un_plat 1200ms ease-in-out 50ms both;

                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation 300ms linear both;
                    }
                    .valide
                    {
                    animation: rotation_validation 300ms ease-in-out 100ms both;
                    }
                    .le_prix
                    {
                    animation: animation_prix 300ms linear both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points 300ms linear both;
                    }
                }    
            }
        
            .pastille_2
            {
                @include encadre_plat();
                animation: un_plat 1200ms ease-in-out 300ms both;

                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation 300ms linear both;
                    }
                    .valide
                    {
                    animation: rotation_validation 300ms ease-in-out 100ms both;
                    }
                    .le_prix
                    {
                    animation: animation_prix 300ms linear both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points 300ms linear both;
                    }
                }      
            }
        
            .pastille_3
            {
                @include encadre_plat();
                animation: un_plat 1200ms ease-in-out 600ms both;
            
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation 300ms linear both;
                    }
                    .valide
                    {
                    animation: rotation_validation 300ms ease-in-out 100ms both;
                    }
                    .le_prix
                    {
                    animation: animation_prix 300ms linear both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points 300ms linear both;
                    }
                }  
            }
    }
}

aside
{
    background-color: $couleur-4;
    height: 200px;
            a
    {
            display: flex;
            flex-direction: column;
            text-align: center;
            
            padding-top: 25px;
            margin-top: -20px;
            margin-bottom: 60px;
            width: 300px;
            height: 60px;
            border-radius: 50px;
            border: none;
            margin-left: auto;
            margin-right: auto;
            background:linear-gradient(170deg,$couleur-secondaire,$couleur-primaire);
            color: white;
            font-size: 1.6em;
            font-family: roboto_regular, serif;
            text-decoration: none;
            box-shadow: 6px 6px 10px darken($couleur-4,15);
            &:active
            {
                @include hover_bouton
            }
    }
}

footer
{
   
    padding-left: 20px;
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'roboto_regular';
        #proposer_restaurant
        {
            i
            {
                font-size: 0.8em;
                padding-right: 15px;
            }
            margin-bottom: 10px;
        }
        #devenir_partenaire
        {
            i
            {
                font-size: 0.8em;
                padding-right: 10px;
            }
            margin-bottom: 10px;
        }
        .options_footer
        {
            text-decoration: none;
            color: white;
        }
    
    #logo_texte_footer
    {
        font-family: 'shrikhand';
        font-size: 1.2em;
        color: white;
        margin-top: 0px;
    }
    #contact
    {
        margin-top: 10px;
    }
}

