/////// FONTS ////////

@font-face
{font-family:'shrikhand'; src: url(../fonts/Shrikhand/Shrikhand-Regular.ttf) format('truetype');}
@font-face
{font-family:'roboto_regular'; src: url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');}
@font-face
{font-family:'roboto_bold'; src: url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');}

///////////// VARIABLES /////////////

$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-4:#dddddd;
$couleur-5:rgb(110, 109, 109);

///////// MIXIN //////////

@mixin hover_bouton // La couleur des boutons quand on clique dessus
{
    background: linear-gradient(170deg,(lighten($couleur-secondaire,5)),(lighten($couleur-primaire,5)));
    box-shadow: 6px 6px 10px darken($couleur-4,25);
}

@mixin coeur_hover  // Format du remplissage des icones en coeurs
{
        font-weight: bold;
        background: linear-gradient(180deg, (darken($couleur-primaire,30)), (lighten($couleur-secondaire,5)));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@mixin encadre_plat 
{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    height: 100px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px darken($couleur-4,10);
}

/////// KEYFRAMES ////////

// Animation remplissage du coeur
@keyframes coeur
{
    0%
    {
        height: 0px;
    }
    100%
    {
        height: 39px;
    }
}

// Animation pour faire apparaitre les plats les uns après les autres
@keyframes un_plat
{ 
    0%
    {
        opacity: 0;
        position: relative;
        bottom: -40px;
    }
    25%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
        position: relative;
        bottom: 0px;
    }
}

// Animation pour faire bouger le prix
@keyframes animation_prix
{
    0%{}
    100%{transform: translate(-50px);}
}

// Animation pour faire bouger le prix en responsive
@keyframes animation_prix_responsive
{
    0%
    {}
    100%
    {
        transform: translate(-0px);
    }
}

// Animation pour faire apparaitre le cadre de validation du plat
@keyframes validation
{
    0%
    {}
    100%
    {
        transform: translate(-90px);
    }
}

// Animation pour faire apparaitre le cadre de validation du plat en responsive
@keyframes validation_responsive
{
    0%
    {}
    100%
    {
        transform: translate(-90px);
    }
}

// Animation pour faire tourner l'icone de validation
@keyframes rotation_validation
{
    0%
    {}
    100%
    {
        transform:rotate(360deg)
    }
}

// Animation pour créer l'effet des trois points quand le texte est trop long
@keyframes trois_points
{
    0%
    {}
    100%
    {
        width: 70%;
    }
}

// Animation pour créer l'effet des trois points quand le texte est trop long en responsive
@keyframes trois_points_responsive
{
    0%{}
    100%{min-width: 50%;}
}

/////// MISE EN FORME ///////
body
{
    margin-left: 20px;
}

header
{
    display: flex;
    justify-content: flex-start;
        .fleche
        {
            font-size: 2.5em;
            margin-top: 40px;
            margin-left: 20px;
            vertical-align: middle;
            color: black;
        }
        p
        {
            font-size: 5em;
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 40px;
            font-family:'shrikhand';
        }
}

section
{   
    #entete_restaurant
    {
        background-size: cover;
        background-position: center;        
        background-image: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        height: 400px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        h1
        {
            background-color: $couleur-4;
            margin-bottom: 0px;
            padding-top: 20px;
            padding-left: 35px;
            margin-left: 25px;
            font-family: 'shrikhand';
            font-size: 2em;
        }
        i
        {
            font-size: 2.5em;
            margin-right: 80px;
            padding-top: 39px;
                &:active
                {        
                    @include coeur_hover();
                    animation: coeur 500ms ease-in-out;
                }
        }
    }
    article
    {
        background-color: $couleur-4;
        margin-top: -80px;
        padding-top: 100px;
        font-family: 'roboto_regular';
        display: flex;
        justify-content: space-around;
        padding-bottom: 80px;
        border-top-right-radius: 45px;
        border-top-left-radius: 45px;
        .nom_et_recette
        {
            display: flex;
            flex-direction: column;
        }
       .un_plat
       {
           display: flex;
           justify-content: space-between;
           width: 100%;
           height: 100px;
           padding-left: 15px;
           border-radius: 20px;
           background-color: white;
           overflow: hidden;
       }
        .petit_trait
        {
            width: 60px;
            height: 5px;
            background-color: $couleur-tertiaire;
            margin-bottom: 30px;
            margin-top: -10px;
        }
        .nom_et_recette
        {
            width: 100%;
        }
        .nom_de_la_recette
        {
            font-family: 'roboto_bold';
            font-size: 1.7em;
            margin-top: 10px;
            margin-bottom: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .la_recette
        {
            font-size: 1.3em;
            margin-top: 15px;
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .le_prix
        {
            font-family: 'roboto_bold';
            font-size: 1.4em;
            height: 100%;
            padding-top: 53px;
            margin-top: 0px;
            margin-bottom: 0px;
            position: relative;
            left: 60px;
        }
        .choisir_le_plat
            {
            background-color: $couleur-tertiaire;
            position: relative;
            left: 100px;
            height: 100px;
                .valide
                {
                    display: flex;
                    align-items: center;
                    transform:rotate(90deg);
                    height: 22px;
                    border: 1px solid $couleur-tertiaire;
                    font-size: 1.2em;
                    margin-bottom: auto;
                    margin-top: 30px;
                    margin-right: 35px;
                    margin-left: 25px;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border-radius: 40px;
                    background-color: white;
                    color: $couleur-tertiaire;
                }
            }
            .pastille_1
            {
                @include encadre_plat();
                animation: un_plat 1200ms ease-in-out 50ms both;
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation 300ms ease-in-out both;
                    }
                    .valide
                    {
                    animation: rotation_validation 300ms ease-in-out both;
                    }
                    .le_prix
                    {
                    animation: animation_prix 300ms ease-in-out both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points 300ms ease-in-out both;
                    }
                }
            }
            .pastille_2
            {
                @include encadre_plat();
                animation: un_plat 1200ms ease-in-out 300ms both;
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation 300ms ease-in-out both;
                    }
                    .valide
                    {
                    animation: rotation_validation 300ms ease-in-out  both;
                    }
                    .le_prix
                    {
                    animation: animation_prix 300ms ease-in-out both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points 300ms ease-in-out both;
                    }
                }
            }
            .pastille_3
            {
                @include encadre_plat();
                animation: un_plat 1200ms ease-in-out 600ms both;
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation 300ms ease-in-out both;
                    }
                    .valide
                    {
                    animation: rotation_validation 300ms ease-in-out  both;
                    }
                    .le_prix
                    {
                    animation: animation_prix 300ms ease-in-out both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points 300ms ease-in-out both;
                    }
                }
            }
    }
}

aside
{
    background-color: $couleur-4;
    height: 200px;
        a
        {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 25px;
            margin-top: -20px;
            margin-bottom: 60px;
            width: 300px;
            height: 60px;
            border-radius: 50px;
            border: none;
            margin-left: auto;
            margin-right: auto;
            background:linear-gradient(170deg,$couleur-secondaire,$couleur-primaire);
            color: white;
            font-size: 1.6em;
            font-family: roboto_regular, serif;
            text-decoration: none;
            box-shadow: 6px 6px 10px darken($couleur-4,15);
                &:active
                {
                    @include hover_bouton
                }
        }
}

footer
{
    padding-left: 20px;
    background-color: rgb(51, 51, 51);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'roboto_regular';
        #proposer_restaurant
        {
            margin-bottom: 10px;
            i
            {
                font-size: 0.8em;
                padding-right: 15px;
            }
        }
        #devenir_partenaire
        {
            margin-bottom: 10px;
            i
            {
                font-size: 0.8em;
                padding-right: 10px;
            }
        }
        .options_footer
        {
            text-decoration: none;
            color: white;
        }
        #logo_texte_footer
        {
            font-family: 'shrikhand';
            font-size: 1.2em;
            color: white;
            margin-top: 0px;
        }
        #contact
        {
            margin-top: 10px;
        }
}

//////////// MISE EN FORME DU RESPONSIVE ////////

@media only screen and (max-width: 1700px)
{
    body
    {
        width: 100%;
        margin: 0px;
    }

    header
    {
        width: 100%;
        .fleche
        {
            font-size: 2em;
            margin-top: 20px;
        }
        p
        {
            font-size: 2.5em;
            padding-top: 10px;
            margin-left: 60px;
        }
    }

    section
    {
        #entete_restaurant
        {
            width: 100%;
            height: 300px;
            h1
            {
                padding-left: 0px;
                font-size: 1.8em;
                margin-left: 10px;
            }
            i
            {
                margin-right: 40px;
                margin-bottom: 10px;
                font-size: 1.7em;
            }
        }
        
        article
        {
            padding-left: 0px;
            padding-right: 0px;
            display: flex;
            flex-direction: column;
            width: 100%;
            .pastille_1
            {
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation_responsive 300ms ease-in-out both;
                    }
                    .valide
                    {
                    animation: rotation_validation 400ms ease-in-out  both;
                    }
                    .le_prix
                    {
                    animation: animation_prix_responsive 300ms ease-in-out both;
                    }
                    .nom_et_recette
                    {
                        width: 70%;
                    animation: trois_points_responsive 300ms ease-in-out both;
                    }
                }
            }
            .pastille_2
            {
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation_responsive 300ms ease-in-out both;
                    }
                    .valide
                    {
                    animation: rotation_validation 400ms ease-in-out  both;
                    }
                    .le_prix
                    {
                    animation: animation_prix_responsive 300ms ease-in-out both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points_responsive 300ms ease-in-out both;
                    }
                }
            }
            .pastille_3
            {
                &:active
                {
                    .choisir_le_plat
                    {
                    animation: validation_responsive 300ms ease-in-out both;
                    }
                    .valide
                    {
                    animation: rotation_validation 400ms ease-in-out  both;
                    }
                    .le_prix
                    {
                    animation: animation_prix_responsive 300ms ease-in-out both;
                    }
                    .nom_et_recette
                    {
                    animation: trois_points_responsive 300ms ease-in-out both;
                    }
                }
            }
        }

        .entrees
        {
            padding-left: 10px;
            h2
            {
                font-size: 1.3em;
            }
        }

        .plats
        {
            padding-left: 10px;
            h2
            {
                font-size: 1.3em;
            } 
        }

        .desserts
        {
            padding-left: 10px;
            h2
            {
                font-size: 1.3em;
            } 
        }

        .un_plat
        {
            display: flex;
            justify-content: space-between;
            .le_prix
                {
                    padding-top: 51px;
                    position: relative;
                    left: 0px;
                }
            .nom_et_recette
            {
                min-width: 85%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .nom_de_la_recette
                {
                    font-size: 1.3em;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .la_recette
                {
                    font-size: 1.2em;
                    margin-bottom: 0px;
                    margin-top: 20px;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
